
@for $i from 1 to 13{
    .col-#{$i}{
        width: 100% * $i / 12;
    }
}

.full-w{
    width: 100vw;
}
.full-h{
    height: 100vh;
}

@for $i from 1 to 21{
    .h-#{$i}{
        height: 50px * $i ;
    }
}
@for $i from 1 to 11{
    .w-#{$i}{
        width: 10% * $i ;
    }
}


@each $el in  top,bottom,left,right{
    @for $i from 1 to 11{
        .m-#{$el}-#{$i}{
            margin-#{$el}: 10px * $i
        }
        .p-#{$el}-#{$i}{
            padding-#{$el}: 10px * $i
        } 
    }
}

@each $el in  top,bottom,left,right{
        .m-#{$el}-0{
            margin-#{$el}: 0;
        }
        .p-#{$el}-0{
            padding-#{$el}: 0;
        } 
}

.m-0{
    margin: 0;
}

.p-0{
    padding: 0;
}

.d-flex{
    display:flex;
}
.d-column{
    flex-direction: column;
}
.d-row{
    flex-direction: row;
}
.d-column-r{
    flex-direction: column-reverse;
}
.d-row-r{
    flex-direction: row-reverse;
   
}


@each $el in center,flex-start,flex-end,baseline{
        .ai-#{$el}{
        align-items: #{$el};
    }
}

@each $el in center,flex-start,flex-end,baseline{
    .jc-#{$el}{
    justify-content: #{$el};
}
}

.debug{
    border:1px solid black;
}


$f-c-bg: #0414b3;
$s-c-bg: white;

$f-c-t:#7f14D4;
$s-c-t:#ffffff;
$t-c-t:#0E14EE;

$f-c-but:#2d4792;
$s-c-but:white;



h1{
    font-size: 35px ;
    line-height: 50px ;
    font-weight: 600 ;
    color:$f-c-t ;
    margin-bottom:15px;

}

h2{
    font-size: 18px ;
    line-height: 20px ;
    font-weight: 300 ;
    color:$s-c-t ;
    margin:15px 0;
}

h3{
    font-size: 18px ;
    line-height: 20px ;
    font-weight: 400 ;
    color:$t-c-t ;
    margin:15px 0;

}

h4{
    font-size: 18px ;
    line-height: 20px ;
    font-weight: 100 ;
    color:$s-c-t ;
    margin:15px 0;

}

h5{


}

h6{

}


p{
  color: $t-c-t;
}

span{
    font-size: 14px ;
    font-weight: 100 ;
    color: $t-c-t;
}
