*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

@import "partials/_bool" ;
@import "partials/_header";
@import "partials/_jumbo";
@import "partials/_traditional";


